@model IEnumerable<WebAppTasaCambio.Models.TasaCambioDiaria>
@{
    ViewBag.Title = "Home Page";
}
<style>
    .card-sm {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
    }

    .card-me {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
    }

    .card-sm:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .card-me:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .container {
        padding: 2px 16px;
    }
</style>

<div class="row" style="padding-top:10px">
    <div class="col-md-4">
        <div class="card-sm">
            <div class="container-fluid">
                <h2>Hoy</h2>
                <p><strong>Fecha Hosting</strong></p>
                <p>
                    @DateTime.Now
                </p>
                <p><strong>Fecha Peru</strong></p>
                <p>
                    @ViewBag.FechaPeru
                </p>
                <div class="text-right" style="padding-bottom:10px">
                    @Html.ActionLink("Actualizar", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>

        <div class="card-sm">
            <div class="container-fluid">
                <h2>Parametros</h2>
                <p><strong>Primera Busqueda</strong></p>
                <p>Desde las @ViewBag.HoraIPBS hasta las @ViewBag.HoraFPBS  horas</p>
                <p><strong>Segunda Busqueda</strong></p>
                <p>Desde las @ViewBag.HoraISBS  hasta las @ViewBag.HoraISBS  horas</p>
                <p><strong>Invervalo</strong></p>
                <p>A @ViewBag.Intervalo  minutos</p>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="card-me">
            <div class="container-fluid">
                <h2>Ultimos 7 dias actualizados</h2>

                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Compra)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Venta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Proceso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Actualizado)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Compra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Venta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Proceso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Actualizado)
                            </td>

                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

